{% extends 'adminlte/base.html' %}
{% load static %}
{% block extra_head %}
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'material/css/materialize.min.css' %}"
            media="screen,projection"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
{#<link media="all" href="{% static 'nvd3/build/nv.d3.css' %}" type="text/css" rel="stylesheet" />#}
{#<script type="text/javascript" src='{% static 'd3/d3.min.js' %}'></script>#}
{#<script type="text/javascript" src='{% static 'nvd3/build/nv.d3.min.js' %}'></script>#}
{% block chart %}{% endblock %}
{% endblock %}